/* BOOTSTRAP OVERRIDES */

a, a:hover, a:focus,
a:active, a:visited,
.btn-link, .btn-link:hover,
.btn-link:focus, .btn-link:active,
.btn-link:visited {
  color: #355980;
}

body {
  background-color: #191C1A;
  font-size: 2em;
  color: #dbe2db;
}

h3 > small, small {
  color: #5a665f;
}

h3 {
  line-height: 1.25em;
}

p {
  margin-bottom: 1em;
}

.footer {
    padding: 10px;
    background-color: inherit;
}

.jumbotron {
  height: 95vh;
  padding-top: 30vh;
  background: linear-gradient(#000, #000, #191C1A);
}

thead {
  font-weight: 900;
}

tbody > tr {
  border-top: 1px solid #fff;
}

td:not(:first-child) {
  text-align: right;
}

img {
  max-width: 100%;
}

/* TYPOGRAPHY STYLES */

.blue {
    color: #2c7bb6;
}

.red {
    color: #d7191c;
}

.highlight {
  padding: 0px 3px 2px 3px;
  color: #191C1A;
  background-color: #dbe2db;
}

/* PROGRESS BAR */

progress {
  /* Positioning */
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #d7191c;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #d7191c;
}

progress::-moz-progress-bar {
  background-color: #d7191c;
}