/* GRID VISUALIZATION */

.grid[id^="base"] {
  line-height: 1.5em;
  font-size: 0.25em;
}

.grid[id^="marijuana"] {
  line-height: 1.5em;
  font-size: .5em;
}

.grid[id^="arrest"] {
  line-height: 1.5em;
  font-size: 3.25em;
}

/* CHARTIST OVERRIDES */

.ct-chart {
  margin-left: -50px;
}

g.ct-series > line.ct-bar {
  fill: #6c706f;
  stroke: #6c706f;
  stroke-width: 20px;
}

g.ct-series:last-of-type > line.ct-bar {
  fill: #d7191c;
  stroke: #d7191c;
}

.ct-label.ct-vertical {
  color: inherit;
  font-size: 1em;
  width: 100px!important;
  margin-left: 45px;
  text-anchor: start!important;
  text-align: left!important;
  justify-content: initial!important;
  align-items: baseline!important;
  -webkit-box-align: baseline!important;
  -webkit-align-items: baseline!important;
  -ms-flex-align: baseline!important;
}

.ct-label.ct-horizontal {
  color: #3d4541;
  font-size: 0.75em;
  margin-left: -10px;
}

.ct-bar-label {
  fill: #dbe2db;
  font-size: 0.75em;
}

.ct-bar-label.mute {
  fill: #6c706f;
}

.ct-chart-bar {
  overflow: visible!important;
}

.ct-grid {
  stroke: #3d4541;
}