/* BOOTSTRAP OVERRIDES */

a, a:hover, a:focus,
a:active, a:visited {
    color: #355980;
}

body {
	background-color: #000;
}

img {
	max-width: 100%;
}

div.text-only {
	margin-top: 40%;
}

strong {
	color: #ffce00;
}

.footer {
    padding: 10px;
    background-color: #000;
}

