/* GRID VISUALIZATION */

.fa {
  margin-right: 2.5px;
}

div.grid {
  font-size: .75vmax;
  color: gray;
}

/* CHARTIST OVERRIDES */

/* static charts */

.ct-chart {
  margin-left: -50px;
}

g.ct-series > line.ct-bar {
  fill: #6c706f;
  stroke: #6c706f;
  stroke-width: 20px;
}

g.ct-series:last-of-type > line.ct-bar {
  fill: #d7191c;
  stroke: #d7191c;
}

.ct-label.ct-vertical {
  color: inherit;
  font-size: 1.5em;
  width: 25vw!important;
  margin-left: 45px;
  text-anchor: start!important;
  text-align: left!important;
  justify-content: initial!important;
  align-items: baseline!important;
  -webkit-box-align: baseline!important;
  -webkit-align-items: baseline!important;
  -ms-flex-align: baseline!important;
}

.ct-label.ct-horizontal {
  color: #6f6d63;
  font-size: 1em;
  margin-left: -10px;
}

.ct-bar-label {
  fill: #dbe2db;
  font-size: 1em;
}

.ct-bar-label.mute {
  opacity: 0.6;
}

.ct-chart-bar {
  overflow: visible!important;
}

.ct-grid {
  stroke: #6f6d63;
}

/* interactive chart (district detail) */

#detail-table * .ct-label.ct-horizontal {
  margin-left: unset;
  font-size: 1em;
  color: gray;
}

#detail-table * line.ct-bar {
  stroke-width: 25px;
}

#detail-table * g.ct-series:first-of-type > line.ct-bar {
  fill: #2A9074;
  stroke: #2A9074;
}

#detail-table * g.ct-series:nth-of-type(2) > line.ct-bar {
  fill: #62BD37;
  stroke: #62BD37;
}

#detail-table * g.ct-series:nth-of-type(3) > line.ct-bar {
  fill: #A6E787;
  stroke: #A6E787;
}

#detail-table.ct-chart {
  margin-left: -50px;
}

#detail-table * .ct-bar-label {
  font-size: .8em;
}

/* MAPS */

#district-map { 
  width: 100%;
  height: 60vh; 
}

@media (max-width: 990px) {
  #district-map {
    height: 40vh;
  }
}

.leaflet-control-attribution a {
  color: unset;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  padding: 7.5px;
  background-color: #f5f5f5;
  line-height: 18px;
  color: #555;
}

.legend strong {
  line-height: 25px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.75;
}