#floating-nav {
    color: #6f6d63;
    margin-top: 8vh;
    position: fixed;
    right: 5vw;
    height: 50vh;
    font-size: 1.15em;
    line-height: 1.5em;
}

#floating-nav a {
    border: unset;
}

#floating-nav a:hover {
    text-decoration: underline;
}

#floating-nav .active {
    font-weight: 700;
    color: #d7191c;
    border-left: 3px solid #f3f1e5;
    padding-left: 5px;
    margin-left: -8px;
}

#floating-nav a.mute {
    font-size: 90%;
    padding-top: 10px;
}