                <div id="actual_arrests_chart" data-chart="actualArrestsChart"></div>

                <script>

                    categories = ['Youth Population <i class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Chicago youth between the ages 10 and 17"> </i>',
                                  'Proportionate Marijuana Arrests <i class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Arrests for marijuana possession if youth of all races were arrested at an equal rate"></i>', 
                                  'Actual Marijuana Arrests <i class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Arrests for marijuana possession in Chicago in 2014"></i>']

                    seriesData = [{
                        name: 'black',
                        data: [41.93, 41.93, 66.27]
                    }, {
                        name: 'Hispanic',
                        data: [43.18, 43.18, 28.50]
                    }, {
                        name: 'white',
                        data: [14.88, 14.88, 4.82]
                    }]

                    plotOptions = {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                color: '#f3f1e5',
                                style: {
                                    'textOutline': 0,
                                    'fontWeight': 'normal',
                                    'fontSize': '14px'
                                },
                                formatter: function() {
                                   return this.y.toFixed(0) + '% ' + this.series.name
                                }
                            }
                        }
                    }

                    labelOptions = jQuery.extend({}, ChartHelper.stacked_label_options)
                    labelOptions.y = -55

                    credit_options = {
                        enabled: true,
                        text: 'Source: American Community Survey<br />& Chicago Police Department',
                        position: {
                            y: -20
                        }
                    }

                    window.charts['actualArrestsChart'] = ChartHelper.make_bar_chart(
                        'actual_arrests_chart', 
                        seriesData, 
                        categories, 
                        plotOptions, 
                        labelOptions,
                        {},
                        credit_options,
                        {}
                    );
                    
                </script>