                <div id="arrest_v_population_chart" data-chart="arrestsVsPopulationChart"></div>

                <script>

                    categories = ['Population <i class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Chicago youth between the ages 10 and 17"></i>', 
                                  'Marijuana Arrests <i class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Arrests for marijuana possession in Chicago in 2014"></i>',
                                  'All Arrests <i class="fa fa-fw fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Juvenile arrests for all offenses in Chicago in 2014"></i>']

                    seriesData = [{
                        name: 'black',
                        data: [41.93, 66.27, 79]
                    }, {
                        name: 'Hispanic',
                        data: [43.18, 27.61, 17]
                    }, {
                        name: 'white',
                        data: [14.88, 4.82, 3]
                    }]

                    plotOptions = {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                color: '#f3f1e5',
                                style: {
                                    'textOutline': 0,
                                    'fontWeight': 'normal',
                                    'fontSize': '14px'
                                },
                                formatter: function() {
                                   return this.y.toFixed(0) + '% ' + this.series.name
                                }
                            }
                        }
                    }

                    labelOptions = jQuery.extend({}, ChartHelper.stacked_label_options)
                    labelOptions.y = -55

                    credit_options = {
                        enabled: true,
                        text: 'Source: American Community Survey<br />& Chicago Police Department',
                        href: '/download-data#arrest-by-police-district',
                        position: {
                            y: -20
                        }
                    }

                    window.charts['arrestsVsPopulationChart'] = ChartHelper.make_bar_chart(
                        'arrest_v_population_chart', 
                        seriesData, 
                        categories, 
                        plotOptions, 
                        labelOptions,
                        {},
                        credit_options,
                        {}
                    );
                    
                </script>