                <div id="marijuana_arrests_over_time_chart" data-chart="arrestsOverTimeChart" style="max-width: 100%;"></div>

                <script>

                    series_data = [{
                        name: 'arrests',
                        data: [
                            { x: 2013, y: 2413 }, 
                            { x: 2014, y: 1702 }, 
                            { x: 2015, y: 1386 }, 
                            { x: 2016, y: 518 }
                        ]
                    }];

                    annotations = [{
                        title: {
                            text: 'Chicago<br />decriminalized<br />pot in 2012',
                            style: {
                                'color': '#f3f1e5',
                                'font-family': '"Gloria Hallelujah", monospace',
                                'transform': 'rotate(-10deg)'
                            }
                        },
                        anchorX: 'left',
                        anchorY: 'top',
                        xValue: 2013.1,
                        yValue: 3350
                    }, {
                        title: {
                            text: 'Illinois<br />decriminalizes<br />pot in 2016',
                            style: {
                                'color': '#f3f1e5',
                                'font-family': '"Gloria Hallelujah", monospace',
                                'transform': 'rotate(15deg)'
                            }
                        },
                        anchorX: 'right',
                        anchorY: 'top',
                        xValue: 2016.05,
                        yValue: 2000
                    }]

                    var arrestsOverTimeChart = ChartHelper.make_area_chart(
                        'marijuana_arrests_over_time_chart', 
                        series_data,
                        annotations
                    );

                </script>