<div class="section">
    <div class="row">
        <div class="col-md-6"> 
            <div class="input-group">
                <input type="text" name="address" class="form-control" placeholder="Address">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search-district">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <br />
            <div id="district-map"></div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <h1>hey</h1>
        </div>
    </div>
</div>