    <section class="slide">
        <div class="row">
            <div class="col-md-9">

                <h3>The divide is not just a result of more arrests in black neighborhoods. In fact, in some Chicago neighborhoods where most youth are white, most arrested youth are black.</h3>

            </div>
        </div>
        <div class="row" id="my-divide">
            <div class="col-md-6">
                
                <div id="district-map"></div><br />

                <button class="btn btn-xs btn-default pull-right">
                    <i class="fa fa-fw fa-download aria-hidden="true"></i> Download the data
                </button><br /><br />

                <div class="clearfix"></div>

            </div>
            <div class="col-md-6" id="district-stats">

                <div id="district-found">
                    <!-- district stats -->
                </div>

            </div>
        </div>
        <div id="detail-chart"></div>
    </section>

    <script id="statistics-template" type="text/EJS">

        <h3><% if (result.dist_num) { %>Police District <%= result.dist_num %> - <% } %><%= result.dist_name %></h3>

        <div class="row">
          <div class="col-sm-12">
            <p class="drop-cap lead">In 2014, black youth in <% if (result.dist_num) { %>your district<% } else { %>Chicago<% } %> were <span class="highlight"><strong><%= result.odds_ratio.toFixed(1) %></strong> times more likely</span> to be arrested than all youth citywide.</p>

            <div id="detail-chart"></div>

          </div>
        </div>

    </script> 

    <script id="instructions" type="text/EJS">

        <p class="drop-cap lead">This map of Chicago's police districts is colored by a multiplier you interpret like, <strong>“Black youth in this police district were arrested X times more often in 2014 than all youth citywide.”</strong></p>

        <div class="input-group">
            <input type="text" name="address" id="address" class="form-control" placeholder="Address">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="search-district">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

        <p><span class="action"><i class="fa fa-fw fa-mouse-pointer" aria-hidden="true"></i>Hover</span> or <span class="action"><i class="fa fa-fw fa-hand-o-up" aria-hidden="true"></i>Tap</span> the map to to see how the odds vary between districts, or <span class="action"><i class="fa fa-fw fa-i-cursor" aria-hidden="true"></i>Type</span> your address to see the odds in your neighborhood.</p>
    </script>
