                <div id="education_outcomes_chart"></div>

                <script>

                    categories = ['Graduate high school', 'Attend college']

                    seriesData = [{
                        name: 'Arrested',
                        data: [27, 18],
                    }, {
                        name: 'Not arrested',
                        data: [49, 34],
                    }]

                    plotOptions = {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                color: '#f3f1e5',
                                style: {
                                    'textOutline': 0,
                                    'fontWeight': 'normal',
                                    'fontSize': '14px'
                                },
                                formatter: function() {
                                   return this.y.toFixed(0) + '% chance'
                                }
                            },
                            borderWidth: 0,
                            animation: false,
                            groupPadding: 0.3
                        }
                    }

                    ChartHelper.stacked_label_options.y = -35

                    ChartHelper.make_bar_chart(
                        '#education_outcomes_chart', 
                        seriesData, 
                        categories, 
                        plotOptions, 
                        ChartHelper.stacked_label_options
                    );

                </script>