                <div id="arrests_by_race_chart" data-chart="arrestsByRaceChart"></div>

                <script>

                    function offsetPx(pct) {
                        fullChartWidth = $('#arrests_by_race_chart').parent().innerWidth() - 30,
                          axisLabelWidth = 50,
                          chartWidth = fullChartWidth - axisLabelWidth;
                        return chartWidth * (pct / 100); 
                    }

                    categories = ['2013', '2014', '2015', '2016']

                    series_data = [{
                        name: 'black',
                        data: [68.59, 66.27, 63.42, 66.02]
                    }, {
                        name: 'Hispanic',
                        data: [26.65, 28.50, 31.17, 29.54]
                    }, {
                        name: 'white',
                        data: [4.43, 4.82, 4.91, 4.05]
                    }]

                    plot_options = {
                        bar: {
                            pointWidth: 30,
                            dataLabels: {
                                align: 'center',
                                enabled: true,
                                color: '#333',
                                style: {
                                    'textOutline': 0,
                                    'fontWeight': 'normal',
                                    'fontSize': '13px'
                                },
                                formatter: function() {
                                   return this.y.toFixed(0) + '%'
                                }
                            }
                        },
                        series: {
                            stacking: 'normal'
                        }
                    }

                    label_options = {
                        style: {
                            color: '#f3f1e5',
                            'fontSize': '14px',
                        }
                    }

                    credit_options = {
                        enabled: true,
                        text: 'Source: Chicago Police Department',
                    }

                    annotations = [{
                        title: {
                            text: 'Only 42% of youth<br />in Chicago are black',
                            style: {
                                'color': '#f3f1e5',
                                'font-family': '"Gloria Hallelujah", monospace'
                            }
                        },
                        y: 88,
                        x: offsetPx(42),
                        anchorX: 'left',
                        anchorY: 'top',
                        shape: {
                            type: 'rect',
                            params: {
                                height: 25,
                                width: 0.25,
                                stroke: '#f3f1e5',
                                fill: '#f3f1e5',
                                x: 50,
                                y: 37
                            }
                        }
                    }]

                    window.charts['arrestsByRaceChart'] = ChartHelper.make_bar_chart(
                        'arrests_by_race_chart', 
                        series_data,
                        categories,
                        plot_options,
                        label_options,
                        {},
                        credit_options,
                        annotations
                    );

                </script>