                <div id="system_disparity_chart"></div>

                <script>

                    colors = ChartHelper.get_colors(3);

                    categories = ['Detention', 'Probation', 'Incarceration']

                    seriesData = [{
                        name: 'Black',
                        data: [80.6, 85.6, 82.5],
                        color: colors[0]
                    }, {
                        name: 'Hispanic',
                        data: [15.6, 7.6, 3.5],
                        color: colors[1]
                    }, {
                        name: 'White',
                        data: [3.5, 5.6, 2.1],
                        color: colors[2]
                    }]

                    plotOptions = {
                        bar: {
                            dataLabels: {
                                color: 'white',
                                enabled: true,
                                formatter: function() {
                                   return this.y + '% ' + this.series.name
                                },
                                crop: false,
                                overflow: 'none',
                                style: {
                                    textOutline: 0
                                }
                            },
                            borderWidth: 0
                        }
                    }

                    ChartHelper.make_bar_chart('#system_disparity_chart', seriesData, categories, plotOptions);

                </script>