<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" >

    {% if page.description %}
      <meta content="{{ page.description }}" name='description' />
    {% else %}
      <meta content="{{ site.description }}" name='description' />
    {% endif %}
    <meta content='{{ site.name }}' name='author' />

    <!-- Facebook metadata -->
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about-us/" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/#" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@DataMadeCo">
    <meta name="twitter:creator" content="@DataMadeCo">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/#">
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">
    
{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
    <link href="{{ site.baseurl }}/css/{{ stylesheet }}.css" rel="stylesheet">
  {% endfor %}
{% endif %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <progress value="0"></progress>

    <a id="top"></a>

    <div class="jumbotron">
      <div class="container">
        <div class="title" id="justice">
          <h1>Justice</h1>
        </div>
        <div class="title" id="divided">
          <div class="row">
            <div class="col-sm-12" id="divided-top">
              <h1>Divided</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" id="divided-bottom">
              <h1>Divided</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ content }}

    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div id="nav-links" class="text-right">
            <a id="learn" href="{{ site.baseurl }}/"{% if page.title == 'Learn' %}class="active"{% endif %}>Learn</a>
            <a id="act" href="{{ site.baseurl }}/action"{% if page.title == 'Act' %}class="active"{% endif %}>Act</a>
            <a id="resources" href="{{ site.baseurl }}/resources"{% if page.title == 'Resources' %}class="active"{% endif %}>Resources</a>
            <a id="about" href="{{ site.baseurl }}/about"{% if page.title == 'About' %}class="active"{% endif %}>About</a>
          </div>
        </div>
      </div>
    </div>

  </body>

  <script src="{{ site.baseurl }}/lib/jquery-1.10.1.min.js"></script>
  <script src="{{ site.baseurl }}/lib/analytics_lib.js"></script>
  <script src="{{ site.baseurl }}/lib/bootstrap.min.js"></script>
  <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places&key={{ site.google_api_key }}'></script>

{% if page.custom_js %}
{% for js_file in page.custom_js %}
  <script src='{{ site.baseurl }}/{{ js_file }}.js' type="text/javascript"></script>
{% endfor %}
{% endif %}
  
  <script>

      // progress bar (via https://css-tricks.com/reading-position-indicator/)
      var winHeight = $(window).height(), 
        docHeight = $(document).height(),
        progressBar = $('progress'),
        max, value;

      max = docHeight - winHeight;
      progressBar.attr('max', max);

      $(document).on('scroll', function(){
         value = $(window).scrollTop();
         progressBar.attr('value', value);
      });

      $('.section').each(function() {
        if ( $(this).height() > $(this).css('min-height') ) {
          $(this).next().css('padding-top', '20vh');
        }
      })

      // init slides
      $(function() {
        $.deck('section.slide');
      });

      $(document).bind('deck.change', function(event, from, to) {
          slideElement = '#slide-' + to;
          chartsInSlide = $(slideElement).find('[id*="_chart"]');
          if ( chartsInSlide ) {
              chartsInSlide.each(function() {
                  chart_obj = window[$(this).attr('data-chart')];
                  new Highcharts.Chart(chart_obj);
              })
          }
      });

  </script>

</html>
